




@media ( max-whidt:480px ) {
   
   .body {
background-color: aquamarine ;
   }
   
   

}


/* logos --------------------------------------------------------------------------------*/

.logo {
   width: 80px;
   background-color: bisque;


}

.logo-2 {
   width: 500px
}

.img-contacto {
   width: 500px;

}

.logo-3 {
   width: 500px;

}

.logo-4 {
   display: flex;

   padding: 10px;
   width: 100px;


   /* header --------------------------------------------------------------------------------------------------*/
}

header {
   background-color: bisque;
}

.flex-header {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;

}

.stiky-contain {


   background-color: bisque;
   top: 5px;
   padding: 10px;
}

/* ----------------------------------- main -------------------------*/

h2 {
   color: rgb(190, 0, 0);
   font-size: 38px;
   margin: 20px;
   text-align: center;
}



h3 {
   font-size: 25px;
   text-align: start;
   text-decoration: underline;
   text-transform: uppercase;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
   color: black;
   font-size: 18px;
   margin: 20px;
}

h1 {
   color: black;
   font-size: 48px;
   margin: 20px;
   text-align: center;
   text-decoration: underline;
   text-transform: uppercase;
}

body {
   background-color: palegoldenrod;
}


/*clases*/

.grid-contain img {
width: 90%;
height: 90%;
}


.grid-contain {

   display: grid;
   grid-template-columns:25% 40% 25% ;
   grid-template-areas:
      "titulo titulo titulo"

      "alfajor texto-1 texto-1"

      "alfajor torta torta"

      "texto-2 precios texto-3"
   ;
   grid-template-rows: 100px 250px 250px 250px;
   column-gap: 5px;
   row-gap: 5px;
justify-content: center;
justify-items: center;
align-items: center;

}

.titulo {
   grid-area: titulo;
}
.alfajor {
   grid-area: alfajor;
}
.texto-1{
   grid-area: texto-1;
}
.torta {
   grid-area: torta;
}
.texto-2 {
   grid-area: texto-2;
}
.precios {
   grid-area: precios;
}
.texto-3 {
   grid-area: texto-3;
}

#testimonios {

   color: rgb(190, 0, 0);
   font-size: 48px;
   text-align: center;
   text-decoration: underline;

}

.mayuscu {
   text-shadow: 10px;
   font-size: 20px;
   text-decoration: underline;
}


.Texto_negro {
   color: black;
}

nav section ul li {
   font-size: 20px;
   color: black;
}

.fruti-nosotros {
   width: 300px;
}

.parrafo-nosotros {
   font-size: 22px;
   text-decoration: underline;

}




/*    flex box --------------------------------------------------------------------------------------    */
.caja {
   display: block center;
   width: 100%;
   height: 100px;
   background-color: rgb(190, 0, 0);
   border: 3px solid black;

}


.caja.index {
   display: flex;
   height: 600px;
   
  
}


.elemento-caja {
   display: block;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 34px;
}









/*footer --------------------------------------------------------------------------------------------------*/
footer {
   background-color: bisque
}





