/*hola sasss como estas*/

// ===========================================
// VARIABLES
// ===========================================



$color-principal: rgb(190, 0, 0);
$color-fondo: bisque;
$color-acento: rgb(80, 3, 3);
$color-texto: rgba(107, 9, 9, 0);
$color-fondo-alt: antiquewhite;
$color-fondo-movil: rgb(209, 209, 209);

$font-principal: 'Times New Roman', Times, serif;
$font-decorativa: "Playwrite DE SAS", cursive;

$espaciado: 15px;
$border-default: 3px solid black;
$transicion: 0.3s ease all;

// ===========================================
// MIXINS
// ===========================================

@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin background-img($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin grid-center {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

// ===========================================
// RESETEO GLOBAL
// ===========================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ===========================================
// HEADER
// ===========================================

.stiky-contain {
    @include flex-center();
    @include background-img("../imagenes/banner1.jpg");
    height: 150px;
    padding: $espaciado;
    margin: $espaciado;
}

.nav.index {
    overflow: hidden;
    position: relative;
}

.logo {
    @include flex-center();
    width: 120px;
}

// ===========================================
// MAIN
// ===========================================

.body {
    @include flex-center(column);
    min-height: 100vh;
    background-color: $color-fondo;
    margin: $espaciado;
    padding: $espaciado;
}

.grid-contain {
    @include grid-center;
    grid-template-columns: 25% 40% 25%;
    grid-template-areas:
        "titulo titulo titulo"
        "alfajor texto-1 texto-1"
        "alfajor torta torta"
        "texto-2 precios texto-3";
    grid-template-rows: 100px 250px 250px 250px;
    column-gap: 5px;
    row-gap: 5px;

    img {
        width: 90%;
        height: 90%;
    }

    .titulo {
        grid-area: titulo;
    }

    .alfajor {
        grid-area: alfajor;
    }

    .torta {
        grid-area: torta;
    }

    .texto-2 {
        grid-area: texto-2;
    }

    .precios {
        grid-area: precios;
    }

    .texto-3 {
        grid-area: texto-3;
    }
}

.caja.index {
    display: flex;
    height: 600px;
}

.logo-2,
.logo-3 {
    width: 500px;
}

// ===========================================
// SECCIÓN FLEX
// ===========================================

.caja {
    display: block center;
    width: 100%;
    height: 100px;
    background-color: $color-principal;
    border: $border-default;
    margin-bottom: 50px;
    transition: $transicion;

    &:hover {
        opacity: 0.9;
        transform: scale(1.02);
    }

    .elemento-caja {
        display: block;
        text-align: center;
        font-family: $font-principal;
        font-size: 34px;
    }
}

// ===========================================
// TIPOGRAFÍA Y TEXTOS
// ===========================================

.encabezados {
    font-family: $font-decorativa;
    font-weight: 400;
    font-style: normal;
    color: $color-acento;
    font-size: 48px;
    margin: 20px;
    text-align: center;
    text-decoration: wavy;
    text-transform: uppercase;
}

p {
    color: $color-texto;
    font-size: 18px;
    margin: 20px;
}

.h3 {
    font-size: 25px;
    color: $color-acento;
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
    font-family: $font-decorativa;
}

// ===========================================
// IMÁGENES Y ELEMENTOS VARIOS
// ===========================================

.img-contacto {
    @include flex-center();
    margin: 0 auto;
    width: 480px;
}

.acordion-contain {
    @include flex-center();
    background-color: $color-fondo-alt;
    padding: 10px;
    top: 5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

// ===========================================
// FOOTER
// ===========================================

.stiky-footer {
    @include flex-center();
    background-color: $color-fondo;
    padding: $espaciado;
    margin: $espaciado;
    top: 5px;

    .logo-4 {
        padding: 10px;
        margin: 5px;
        width: 100px;
    }
}

@keyframes aparecer-titulo {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.encabezados {
    font-family: font-decorativa;
    font-weight: 400;
    color: color-acento;
    font-size: 48px;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    animation: aparecer-titulo 1s ease-out forwards;
}


// ===========================================
// MEDIA QUERY (TABLET)
// ===========================================

@media screen and (max-width: 768px) {
    .img-contacto {
        width: 80%;
    }

    .grid-contain {
        @include grid-center;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "titulo titulo"
            "alfajor texto-1"
            "torta texto-2"
            "precios texto-3";
        row-gap: 10px;

        img {
            width: 80%;
            height: auto;
        }
    }

    .logo {
        width: 100px;
    }

    .body {
        padding: 10px;
        font-size: 18px;
    }

    .stiky-footer {
        flex-direction: column;
        gap: 10px;

        .logo-4 {
            width: 80px;
        }
    }
}

// ===========================================
// MEDIA QUERY (MÓVIL)
// ===========================================

@media screen and (max-width: 480px) {
    .img-contacto {
        width: 100%;
        height: auto;
        display: block;
    }

    body {
        background-color: $color-fondo-movil;
    }

    .grid-contain {
        @include grid-center;
        grid-template-columns: 100%;
        padding: 10px;
        margin: 5px;
        grid-template-areas:
            "titulo"
            "alfajor"
            "texto-1"
            "torta"
            "texto-2"
            "precios"
            "texto-3";

        img {
            width: 200px;
            height: 200px;
        }
    }

    .stiky-contain {
        @include flex-center();
        @include background-img("../imagenes/banner1.jpg");
        height: 150px;

        .logo {
            @include flex-center();
            width: 80px;
        }
    }

    .body {
        @include flex-center(column);
        min-height: 100vh;
        background-color: gray;
        margin: 5px;
        padding: 10px;
        font-size: 16px;
    }

    .caja,
    .elemento-caja {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .stiky-footer {
        @include flex-center();
        background-color: $color-fondo;
        padding: 10px;
        top: 5px;

        .logo-4 {
            padding: 10px;
            margin: 5px;
            width: 100px;
        }
    }
}